@font-face {
    font-family: norse-bold;
    src: url(./Norse/Norse.woff);
}

.left-side > img {
    width: 100%;
    height: 610px;
    background-color: black;
}

.logo {
    background-color: rgb(61, 57, 57);
    width: 300px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: norse-bold, sans-serif;
}

.logo > img {
    width: 70px;
    height: 70px;
    padding-top: 15px;
}

.logo-text {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: large;
    color: white;
    background-color: red;
}

main {
    display: flex;
    flex-direction: row;
    width: 900px;
}

aside {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: hsl(0, 0%, 90%);
}

.part1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

aside > p {
    padding-top: 20px;
    padding-right: 50px;
}

.flex-div {
    display: flex;
    justify-content: space-between;
    font-size: xx-small;
}

div label {
    flex: 1;
}

p {
    font-weight: bold;   
}

section .para {
    font-weight: bold;
    margin-top: 40px; 
}

.container {
    background-color: #fff;
    padding-left: 20px;
    border: 1px solid #E5E7EB;
    margin-left: -20px;
    margin-right: -22px;
    /*height: 240px;*/
}

article {
    padding-right: 120px;
    margin-bottom: 40px;
}

.label2 {
    padding-left: 140px;
}

input[type=text] {
    border-color: #E5E7EB;
}

input[type=text]:focus {
    border-color: purple;
    box-shadow: inset #E5E7EB;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}

#btn {
    background-color: #596D48;
    box-shadow: none;
    box-sizing: border-box;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: white;
}

footer {
    margin-top: 20px;
    font-size: smaller;
}